default:
  image: node:22.5.1-alpine
  cache: &global-cache
    key: "$CI_COMMIT_REF_NAME"
    paths:
      - node_modules

stages:
  - setup
  - test
  - build
  - dockerize
 # - deploy

setup:
  stage: setup
  script: npm ci
  cache:
    <<: *global-cache
    policy: push

vitest:
  stage: test
  script: npm run test:unit
  cache:
    <<: *global-cache
    policy: pull

# Does not work, no priority to get it running ;-)
#cypress:
#  stage: test
#  image: cypress/base:20.15.1
#  script:
#    - npm ci
#    - npm run preview &
#    - npx cypress run
#  cache: []
#  artifacts:
#    when: always
#    paths:
#      - cypress/screenshots/*

build:
  stage: build
  script: npm run build
  cache:
    <<: *global-cache
    policy: pull
  artifacts:
    paths:
      - dist/

dockerize:
  stage: dockerize
  dependencies:
    - build
  tags:
    - docker-daemon
  cache: []
  script:
    - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY/th-wiki/th-wiki-ui .
    - docker push $CI_REGISTRY/th-wiki/th-wiki-ui
