workflow:
  auto_cancel:
    on_new_commit: conservative

default:
  image: oven/bun:1.2.9-alpine
  cache: &global-cache
    key: "$CI_COMMIT_REF_NAME"
    paths:
      - node_modules

stages:
  - setup
  - test
  - build
  - dockerize
  - deploy

setup:
  stage: setup
  interruptible: true
  script: bun i
  cache:
    <<: *global-cache
    policy: push

vitest:
  stage: test
  interruptible: true
  script: bun test
  cache:
    <<: *global-cache
    policy: pull

# Does not work, no priority to get it running ;-)
# Issue is an IPv4/v6 problem on the GitLab runner: When quickly logging into the running docker container,
# installing curl, and running different commands, you'll see:
# "curl -4 http://localhost:4173" fails, "curl -6 http://localhost:4173" works.
# I tried different approaches waiting on "[::1]" or "ip6-localhost", neither worked :-(
#cypress:
#  stage: test
#  interruptible: true
#  script:
#    - bun i
#    - bun test:e2e
#  cache: []
#  artifacts:
#    when: always
#    paths:
#      - cypress/screenshots/*

build:
  stage: build
  interruptible: true
  before_script: apk add git # install Git for git-describe
  script: bun run build
  cache:
    <<: *global-cache
    policy: pull
  artifacts:
    paths:
      - dist/

dockerize:
  stage: dockerize
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH || $CI_COMMIT_REF_NAME =~ /^feature\/.+$/
  dependencies:
    - build
  tags:
    - docker-daemon
  cache: []
  script:
    - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY/th-wiki/th-wiki-ui .
    - docker push $CI_REGISTRY/th-wiki/th-wiki-ui

deploy-test:
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH || $CI_COMMIT_REF_NAME =~ /^feature\/.+$/
  image: alpine:3.20.2
  script:
    - apk add openssh
    - mkdir -p ~/.ssh
    - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
    - chmod 600 "$SSH_PRIVATE_KEY"
    - ssh -i "$SSH_PRIVATE_KEY" "$SSH_LOGIN" "cd $DOCKER_DIRECTORY_TEST && docker compose pull && docker compose up -d"
  cache: []

deploy-prod:
  stage: deploy
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH || $CI_COMMIT_REF_NAME =~ /^feature\/.+$/
  image: alpine:3.20.2
  script:
    - apk add openssh
    - mkdir -p ~/.ssh
    - cp "$SSH_KNOWN_HOSTS" ~/.ssh/known_hosts
    - chmod 600 "$SSH_PRIVATE_KEY"
    - ssh -i "$SSH_PRIVATE_KEY" "$SSH_LOGIN" "cd $DOCKER_DIRECTORY_PROD && docker compose pull && docker compose up -d"
  cache: []
  when: manual
